apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-%s" .Release.Name "terriamap-init-config" | trunc 63 | trimSuffix "-" | quote }}
  labels:
    {{- include "terria.labels" . | nindent 4 }}
data:
  productionserverconfig.json: '{{ toJson .Values.initConfig | indent 2 }}'
  metoffice.json: '{{ toJson .Values.initMetofficeConfig | indent 2 }}'


